<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dnafv.mymedalarm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

       <!-- This is the Launcher Activity - the Activity that opens when the App is Loaded -->
        <activity android:name=".HomeMenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- This is the code that defines which Activity is Launched -->
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
            * Add our Additional Activities Here...
            * Make sure they Associated Class File has been created and an OnCreate() has been created
            * with setContentView(R.layout.<layout_name>);
        -->
        <activity android:name=".AddNewMedication"></activity>
        <activity android:name=".ExpiredMedications"></activity>
        <activity android:name=".MedicationInventory"></activity>
        <activity android:name=".Notifications"></activity>
        <activity android:name=".UserProfile"></activity>
        <activity android:name=".CreateUserProfile"></activity>


    </application>

</manifest>